{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116055166-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-116055166-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{#	<title>Page Title. Maximum length 60-70 characters</title>#}
	<title>{% block title %}{% endblock %}TEDx TechnicalUniversityofCrete: Ideas worth spreading</title>
	<meta name="title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta name="application-name" content="TEDx TechnicalUniversityofCrete">
	{#	<meta name="description" content="Page description. No longer than 155 characters."/>#}
	{#Todo: Fix description length#}
	<meta name="author" content="TEDx TechnicalUniversityofCrete">
	<meta name="description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
	<meta name="keywords" content="TED, TEDx, Talks, Themes, Speakers, Technology, Entertainment, Design, Technical, University, of, Crete, TechnicalUniversityofCrete, TEDxTechnicalUniversityofCrete, Light, Leak, Outcomes">
	<meta name="theme-color" content="#E62B1E">
	<link rel="shortcut icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/favicon.ico' %}">
	<link rel="icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/favicon.ico' %}"/>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="mask-icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/mask-icon.svg' %}" color="#E62B1E" sizes="any">

	{#	<!-- Apple Mobile -->#}
	<meta name="apple-mobile-web-app-title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/apple-touch-icon-precomposed.png' %}">

	{#-------------------------------------------------------------------------------#}
	{#	<!-- Schema.org markup for Google+ -->#}
	<meta itemprop="name" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta itemprop="description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
	<meta itemprop="image" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoBlack.png' %}">

	{#	<!-- Twitter Card data -->#}
	<meta name="twitter:card" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoBlack.png' %}">
	<meta name="twitter:site" content="TEDx TechnicalUniversityofCrete">
	<meta name="twitter:title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	{#	<meta name="twitter:description" content="Page description less than 200 characters">#}
	<meta name="twitter:description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
	<meta name="twitter:creator" content="TEDx TechnicalUniversityofCrete">
	{#	<!-- Twitter summary card with large image must be at least 280x150px -->#}
	<meta name="twitter:image:src" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoBlack.png' %}">
	<meta name="twitter:image:alt" content="TEDx TechnicalUniversityofCrete Logo">

	{#	<!-- Open Graph data -->#}
	<meta property="og:title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.tedxtechnicaluniversityofcrete.com/"/>
	<meta property="og:image" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoBlack.png' %}"/>
	<meta property="og:description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download."/>
	<meta property="og:site_name" content="TEDx TechnicalUniversityofCrete"/>
	{#	<meta property="article:published_time" content="2013-09-17T05:59:00+01:00"/>#}
	{#	<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00"/>#}
	{#	<meta property="article:section" content="Article Section"/>#}
	{#	<meta property="article:tag" content="Article Tag"/>#}
	{#	<meta property="fb:admins" content="tedxtuoc"/>#}
	{#	<meta property="fb:page_id" content="tedxtuoc"/>#}

	<link href="{% static 'TEDx2017/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'TEDx2017/css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'TEDx2017/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'TEDx2017/css/lightbox.css' %}" rel="stylesheet">
	<link href="{% static 'TEDx2017/css/main.css' %}" rel="stylesheet">
	<link id="css-preset" href="{% static 'TEDx2017/css/presets/preset1.css' %}" rel="stylesheet">
	<link href="{% static 'TEDx2017/css/responsive.css' %}" rel="stylesheet">

	<!--[if lt IE 9]>
    <script src="{% static 'TEDx2017/js/html5shiv.js'%}"></script>
    <script src="{% static 'TEDx2017/js/respond.min.js'%}"></script>
  <![endif]-->
	<link rel="icon" href="{% static 'TEDx2017/favicon.png' %}" type="image/x-icon"/>
	<link rel="shortcut icon" href="{% static 'TEDx2017/favicon.png' %}" type="image/x-icon"/>


</head><!--/head-->

<body>

<!--.preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<header id="home">
	<div class="main-nav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle ted-secondary" data-toggle="collapse" data-target=".navbar-collapse">
					<i class="fa fa-reorder fa-lg"></i>
				</button>
				<a class="navbar-brand" href="../">
					<h1><img class="img-responsive" width="250" src="{% static 'TEDx2017/images/tedx_logo_small.png' %}" alt="logo"></h1>
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../">Home</a></li>
					<li><a href="../#about-us">About</a></li>
					<li id="event-but" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Event
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li id="light-but"><a href="../#services">LightLeak</a></li>
							<li id="port-but"><a href="../#portfolio">Speakers</a></li>
							<li id="sched-but"><a href="../#schedule">Schedule</a></li>
							<li id="team-but"><a href="../team.html">Team</a></li>
						</ul>
					</li>
					<li id="part-but" class="active"><a href="#partners">Partners</a></li>
					<li id="cont-but"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div><!--/#main-nav-->
</header><!--/#home-->
<section id="partners" class="parallax">
	<div class="container">
		<div class="row">
			<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h1><strong>PARTNERS</strong></h1>
			</div>
		</div>
	</div>

</section><!--/#portfolio-->
<section id="mainpartner">
	<div class="container"> <!-- Schedule -->
		<div class="row text-center">
			<h1>Grand Sponsors</h1>
			<div class="row text-center">
				<a href=https://www.wind.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/wind.jpg' %}" height="180" width="270"></a>
			</div>
			<a href=http://www.unitedwefly.com/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/uvf.jpg' %}" height="150" width="120"></a>
			<a href=https://el.aegeanair.com/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/aegean.jpg' %}" height="150" width="250"></a>
			<a href=http://sekavar.com/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/sekavar.png' %}" height="130" width="130"></a>
		</div>
		<div class="text-align: center;">
		</div>
		<div class="row text-center">
			<h1>Sponsors</h1>
			<a href=https://www.coco-mat.com/gr_el/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/cocomat.jpg' %}" height="180" width="250"></a>
			<a href=http://www.crete.gov.gr/?option=com_contact&view=category&id=278&Itemid=251&lang=el target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/pkriti.jpg' %}" height="180" width="180"/></a>
		</div>
		<div class="text-align: center;">
		</div>
		<div class="row text-center">
			<div class="row text-center">
				<h1>Supporters</h1>
			</div>
			<div class="text-align: center;  ">
				<a href=https://www.cretanbeer.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/charma.png' %}" height="150" width="150"/></a>
				<a href=https://www.xalkiadakis.gr/el/home target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/xalkiadakis.jpg' %}" height="120" width="230"/></a>
				<a href=http://palazzoalmare.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/palazzo.jpg' %}" height="200" width="230"/></a>
				<a href=http://www.synka-sm.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/synka.jpg' %}" height="180" width="250"/></a>
				<a href=http://www.terracreta.gr/default.aspx?lang=el#.WNb382_yg_4 target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/terracreta.jpg' %}" height="150" width="150"/></a>
				<a href=http://www.bioxym.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/bioxym.jpg' %}" height="200" width="230"/></a>
				<a href=http://eurosustainability.org/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/esa.png' %}" height="150" width="150"/></a>
				<a href=https://www.facebook.com/streat.chania/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/streat.jpg' %}" height="150" width="150"/></a>
				<a href=https://www.facebook.com/SonArteDC/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/sonarte.png' %}" height="150" width="200"/></a>
				<a href=https://www.e-food.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/e-food.png' %}" height="230" width="280"/></a>
				<a href=https://www.facebook.com/anthopoleiokaktous/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/kaktous.png' %}" height="120" width="200"/></a>
				<a href=https://www.facebook.com/stor.deco target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/deco.jpeg' %}" height="110" width="180"/></a>
				<a href=https://dourakiswinery.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/winery.png' %}" height="180" width="130"/></a>
				<a href=https://www.facebook.com/pg/Bartales-127205944333099/about/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/bartales.jpg' %}" height="150" width="150"/></a>
			</div>
		</div>
		<div class="row text-center">
			<h1>Grand Accommodation Sponsors</h1>
			<a href=https://oscarvillage.reserve-online.net/?_ga=1.89953115.1370683926.1491421875 target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/ostrlk.jpg' %}" height="180" width="130"/></a>
			<a href=https://www.proimos-maisonnettes.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/proimos.jpg' %}" height="180" width="130"/></a>
		</div>
		<div class="text-align: center;">
		</div>
		<div class="row text-center">
			<h1>Accommodation Sponsors</h1>
			<a href=http://www.kriti-hotel.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/kriti.jpg' %}" height="200" width="230"/></a>

		</div>
		<div class="row text-center">
			<h1>Accommodation Supporters</h1>
			<div class="text-align: center;">
				<a href=http://www.cretaelena.gr/?lang=el target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/cretaelena.png' %}" height="100" width="180"/></a>
				<a href=http://www.simplychania.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/simplychania.jpg' %}" height="200" width="280"/></a>
				<a href=http://www.hotel-fortino.gr/gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/dortino.png' %}" height="200" width="120"/></a>
			</div>
		</div>
		<div class="row text-center">
			<h1>Media Sponsors</h1>
			<a href=https://www.aera.gr/chania.html target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/aera.png' %}" height="100" width="180"/></a>
			<a href=http://stepup.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/stepup.png' %}" height="120" width="150"/></a>
			<a href=http://www.entasiradio.tuc.gr/ target="_blank"><img class="partner-img" src="{% static 'TEDx2017/images/sponsors/entasi.jpg' %}" height="130" width="170"/></a>
		</div>
		<div class="text-align: center;">
		</div>
	</div>
</section>
<div id="google-map" class="wow fadeIn" data-latitude="35.529893" data-longitude="24.068491" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgq0SJpwxj3c2eYaAdWClDgNgqV7mDWH0&callback=initMap" async defer></script>

<footer id="contact" class="ted-bottom-bg partner-pg">
	<div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-6">
					<div class="footer-logo">
						<a href="../"><img class="img-responsive" src="{% static 'TEDx2017/images/tedx_logo.png' %}" width="300px" alt="tedxlogo"></a>
					</div>
					<div class="social-icons">
						<ul>
							<li><a href="mailto:tedxtechnicaluniversityofcrete@gmail.com" class="envelope"><i class="fa fa-envelope"></i></a></li>
							<li><a class="facebook" href="https://www.facebook.com/TedxTechnicalUniversityOfCrete/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<!--<li><a class="twitter" ><i class="fa fa-twitter"></i></a></li>
							<li><a class="dribbble" ><i class="fa fa-dribbble"></i></a></li>
							<li><a class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
							<li><a class="tumblr" ><i class="fa fa-tumblr-square"></i></a></li>-->
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<iframe id="fb" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTedxTechnicalUniversityOfCrete&tabs=timeline&width=500&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<p>©2017 TED<sup>x</sup>TechnicalUniversityofCrete. All rights reserved.<br/>
						Disclaimer: This independently organized TEDx event is operated under license from TED.</p>
				</div>
				<div class="col-sm-5">
					<p class="pull-right">Designed by TEDx Enthusiasts</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="{% static 'TEDx2017/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/mousescroll.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'TEDx2017/js/main.js' %}"></script>

</body>
</html>
