.container {
	background-color: #f4f4f4;
}

.container-fluid {
	background-color: #f4f4f4;
}

.bg-light-gray {
	background-color: #f4f4f4;
}

.navbar-toggler {
	border: 0;
}

.full-screen-carousel-img {
	height: 100vh;
	background-repeat: inherit;
	background-position: center center;
	background-size: cover;
}

.carousel-blur {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

.navbar-placeholder {
	height: 100px;
	background: #f4f4f4;
}

.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.hr-red {
	border-top: 2px solid #e62b1e;
}

.hr-black {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.hr-white {
	border-top: 1px solid white;
}

.tedx-red {
	color: #e62b1e
}

.btn-circle {
	height: 45px;
	width: 45px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 100%;
}

.card-img-border {
	border-radius: 0.25rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.card-header {
	background-color: white;
}

.card-footer {
	background-color: white;
}

.card {
	width: 20rem;
	border: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
	transition: .2s;
	transition-timing-function: cubic-bezier(0, 0.6, 0.6, 1);
}

.card:hover {
	transform: translateY(-5px) scale(1.01);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
	.border-top-sm {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

@media (max-width: 768px) {
	.border-top-md {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

@media (max-width: 992px) {
	.border-top-lg {
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

.navbar-social {
	transition: .5s;
}

.navbar-social:hover {
	color: #e62b1e !important;
}