{% if event.ScheduleAnnounced %}
	{% include 'TEDx2018/Shared/dividerTitle.html' with title='Schedule' %}
	<div class="container">
		<div class="card w-100">
			{#			<div class="card-header">#}
			{#				<h2 class="text-center">Schedule</h2>#}
			{#			</div>#}
			<div class="card-body">
				<div class="table-responsive">
					<table class="table text-center m-0">
						{% for session in event.session_set.all|dictsort:"Time" %}
							<thead class="thead-red">
							<tr>
								<th scope="col">{{ session.Time|date:"G:i" }}</th>
								<th scope="col">{{ session.Name }}</th>
								{% if event.IsOnGoing %}
									<th scope="col"></th>
								{% endif %}
							</tr>
							</thead>
							<tbody>
							{% for speaker in session.speaker_set.all|dictsort:"TalkTime" %}
								<tr>
									<th>{{ speaker.TalkTime|date:"G:i" }}</th>
									<td align="center"><a class="text-dark" href="{% url 'TEDx2018:speakerProfile' speaker.url %}">{{ speaker.FullName }}</a></td>
									{% if event.IsOnGoing %}
										<td class="text-success">
											{% if speaker.HasSpoken %}
												&#x2714;
											{% endif %}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
							{% for workshop in session.workshop_set.all|dictsort:"TalkTime" %}
								<tr>
									<th>{{ workshop.TalkTime|date:"G:i" }}</th>
									<td align="center">{{ workshop.Title }}</td>
									{% if event.IsOnGoing %}
										<td class="text-success">
											{% if workshop.HasSpoken %}
												&#x2714;
											{% endif %}
										</td>
									{% endif %}
								</tr>
							{% endfor %}
							</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endif %}