{% if event.TicketsAvailable %}
	{% include 'TEDx2018/Shared/dividerTitle.html' with title='Tickets' %}
	<div class="container mb-5">
		<div class="row justify-content-center">
			{% for ticket in event.ticket_set.all %}
				<div class="card {% if ticket.Available %}border-success{% else %}border-danger{% endif %}">
					{% if ticket.Available %}<a class="text-dark" href="{{ event.Eventbrite }}" target="_blank">{% endif %}
					<div class="card-header {% if ticket.Available %}border-success{% else %}border-danger{% endif %}">
						<h3 class="card-text text-center">{{ ticket.Name }}</h3>
					</div>
					<div class="card-body text-center">
						<h1 class="my-5">{{ ticket.Price }}€</h1>
						{% if ticket.Available %}
							<div class="btn btn-success">Available</div>
						{% else %}
							<div class="btn btn-danger">Sold Out</div>
						{% endif %}
					</div>
					{% if ticket.Available %}</a>{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center my-5">
			<div class="container">
			{#			<p class="badge badge-pill badge-dark d-block" style="font-size: 100%; white-space:inherit;">Note: There are no refunds at any time.</p>#}
			<p class="badge badge-pill badge-dark" style="font-size: 100%; white-space: inherit;">
				All products and services provided are sold “as is”. You assume the responsibility for your purchase, and no refunds will be issued.
			</p>
			</div>
		</div>
	</div>
{% endif %}
