{% extends 'TEDx2018/base.html' %}
{% block title %}About - {% endblock %}
{% block aboutTabActive %}active{% endblock %}
{% block body %}
	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		{#		<ol class="carousel-indicators">#}
		{#			{% for photo in photos %}#}
		{#				<li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>#}
		{#			{% endfor %}#}
		{#		</ol>#}
		<div class="carousel-inner">
			{% for photo in photos %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					<div class="full-screen-carousel-img"
					     style="background-image: url({{ photo.Photo.url }});">
					</div>
					<div class="carousel-caption d-block">
						<h4>{{ photo.Event.Name }} - {{ photo.Event.StartDateTime.year }}</h4>
						<hr class="my-4 hr-white">
						{#							<h6>Announcement Date</h6>#}
						<p>{{ photo.Description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	{% include 'TEDx2018/Shared/dividerTitle.html' with title='About Us' %}
	{% include 'TEDx2018/Shared/AboutCard.html' %}

	{% include 'TEDx2018/Shared/dividerTitle.html' with title="This year's Team" %}
	{% include 'TEDx2018/Shared/teamsList.html' %}
{% endblock %}