{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116055166-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());
		gtag('config', 'UA-116055166-1');
	</script>

	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}TEDx TechnicalUniversityofCrete: Ideas worth spreading</title>
	<meta name="description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
	<meta property="og:image" content="{% static 'TEDx2018/images/TEDxLogoBlack.png' %}">
	<meta name="keywords" content="TED, TEDx, Talks, Themes, Speakers, Technology, Entertainment, Design, Technical, University, of, Crete, TechnicalUniversityofCrete, TEDxTechnicalUniversityofCrete, Light, Leak, Outcomes">
	<link rel="mask-icon" href="{% static 'TEDx2018/images/mask-icon.svg' %}" color="#E62B1E" sizes="any">
	<meta name="theme-color" content="#E62B1E">
	<link rel="shortcut icon" href="{% static 'TEDx2018/images/favicon.ico' %}">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="{% static 'TEDx2018/images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'TEDx2018/images/apple-touch-icon-precomposed.png' %}">
	<meta name="application-name" content="TEDx TechnicalUniversityofCrete">
	<meta http-equiv="cleartype" content="on">
	<meta name="title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta property="og:title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
	<meta property="og:description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
	<meta property="og:url" content="http://tedxtechnicaluniversityofcrete.com/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="{% static 'TEDx2018/images/favicon.ico' %}"/>

	{#	Bootstrap#}
	{#	<link rel="stylesheet" href="{% static 'TEDx2018/css/bootstrap.css' %}">#}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	{#	Fontello#}
	<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/fontello.css' %}"/>

	{#	Google Fonts#}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=greek" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/animate.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/style.css' %}"/>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom">
	<a class="navbar-brand" href="{% url 'TEDx2018:home' %}">
		<img src="{% static 'TEDx2018/images/TEDxLogoBlack.svg' %}" alt="TEDxTechnicalUniversityofCrete Logo" height="50">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item dropdown {% block eventsTabActive %}{% endblock %}">
				<a class="nav-link dropdown-toggle" href="{% url 'TEDx2018:event' 'Outcomes' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Events
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'TEDx2018:event' 'Outcomes' %}">TEDxTechnicalUniversityofCrete 2018 Event</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:upcomingEvents' %}">Upcoming Events</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:previousEvents' %}">Previous Events</a>
				</div>
			</li>
			<li class="nav-item {% block talksTabActive %}{% endblock %}">
				<a class="nav-link" href="{% url 'TEDx2018:talks' %}">Talks</a>
			</li>
			<li class="nav-item {% block speakersTabActive %}{% endblock %}">
				<a class="nav-link" href="{% url 'TEDx2018:speakers' %}">Speakers</a>
			</li>
			<li class="nav-item dropdown {% block partnersTabActive %}{% endblock %}">
				<a class="nav-link dropdown-toggle" href="{% url 'TEDx2018:partners' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Partners
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'TEDx2018:partners' %}">Partners</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:becomeAPartner' %}">Become a partner of TEDxTechnicalUniversityofCrete</a>
				</div>
			</li>
			<li class="nav-item dropdown {% block communityTabActive %}{% endblock %}">
				<a class="nav-link dropdown-toggle" href="{% url 'TEDx2018:community' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Community
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'TEDx2018:community' %}">Our Community</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:joinAsAMember' %}">Join as a member</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:donors' %}">Donors</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:becomeADonor' %}">Become a Donor of TEDxTechnicalUniversityofCrete</a>
				</div>
			</li>
			<li class="nav-item dropdown {% block aboutTabActive %}{% endblock %}">
				<a class="nav-link dropdown-toggle" href="{% url 'TEDx2018:about' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					About
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'TEDx2018:about' %}">About TEDxTechnicalUniversityofCrete</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:ourTeam' %}">Our Team</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:contactUs' %}">Contact Us</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:becomeAVolunteer' %}">Become a Volunteer</a>
					<a class="dropdown-item" href="{% url 'TEDx2018:faq' %}">Frequently Asked Questions</a>
					<a class="dropdown-item" href="http://ted.com/" target="_blank">Official TED Talks</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item row justify-content-center border-top-lg">
				<a class="nav-link navbar-social d-inline-block" href="https://www.facebook.com/tedxtuoc" target="_blank"><i class="icon-facebook"></i></a>
				<a class="nav-link navbar-social d-inline-block" href="https://www.twitter.com/tedxtuoc" target="_blank"><i class="icon-twitter"></i></a>
				<a class="nav-link navbar-social d-inline-block" href="https://www.linkedin.com/company/tedxtechnicaluniversityofcrete/" target="_blank"><i class="icon-linkedin"></i></a>
				<a class="nav-link navbar-social d-inline-block" href="https://www.instagram.com/tedxtuoc/" target="_blank"><i class="icon-instagram"></i></a>
			</li>
		</ul>
	</div>
</nav>
{% block body %}{% endblock %}
<footer class="bg-white" style="padding: 35px; border-top: 1px solid rgba(0,0,0,0.2);">
	<div class="container bg-white">
		<p class="text-center m-0">
			Copyright © 2018 <span class="tedx-red font-weight-bold">TEDx</span>TechnicalUniversityofCrete <span class="sep"> – </span>
			This independent <span class="tedx-red font-weight-bold">TED<sup>x</sup></span> event is operated under license from <a href="http://ted.com/" target="_blank"><span class="tedx-red font-weight-bold">TED</span></a>.
		</p>
	</div>
</footer>
</body>
</html>