{% extends 'TEDx2018/base.html' %}
{% block title %}{{ event.Name }} - {% endblock %}
{% block body %}
	{#	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">#}
	{#		<div class="carousel-inner">#}
	{#			<div class="carousel-item active">#}
	{% if event.EventImage %}
		<div class="full-screen-carousel-img{% if not event.Announced %} carousel-blur{% endif %}"
		     style="background-image: url({{ event.EventImage.url }});">
		</div>
	{% else %}
		<div class="full-screen-carousel-img carousel-blur"
		     style="background-image: url('/media/TEDx2018/Shared/XBlackBig.svg');">
		</div>
	{% endif %}
	<div class="carousel-caption d-block">
		{% if event.Announced %}
			<h5>{{ event.Name }}</h5>
			<p>{{ event.StartDateTime }}</p>
		{% else %}
			<h5>Upcoming Event</h5>
			<hr class="my-4 hr-white">
			<h6>Announcement Date</h6>
			<p>{{ event.AnnouncementDateTime }}</p>
		{% endif %}
	</div>
	{#			</div>#}
	{#		</div>#}
	{#	</div>#}
	{% if event.Announced %}

	{% endif %}
{% endblock %}