{% extends 'TEDx2018/base.html' %}
{% block title %}{{ event.Name }} - {% endblock %}
{% block body %}
	{% load static %}
	{#	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">#}
	{#		<div class="carousel-inner">#}
	{#			<div class="carousel-item active">#}
	{% if event.CarouselImage %}
		<div class="full-screen-carousel-img{% if not event.Announced %} carousel-blur{% endif %}"
		     style="background-image: url({{ event.CarouselImage.url }});">
		</div>
	{% else %}
		<div class="full-screen-carousel-img carousel-blur"
		     style="background-image: url('/media/TEDx2018/Shared/XBlackBig.svg');">
		</div>
	{% endif %}
	<div class="carousel-caption d-block">
		{% if event.Announced %}
			<h5>{{ event.Name }}</h5>
			<p>{{ event.StartDateTime }}</p>
		{% else %}
			<h5>Upcoming Event</h5>
			<hr class="my-4 hr-white">
			<h6>Announcement Date</h6>
			<p>{{ event.AnnouncementDateTime }}</p>
		{% endif %}
	</div>
	{#			</div>#}
	{#		</div>#}
	{#	</div>#}
	{% if event.Announced %}
		{# Event #}
		{% include 'TEDx2018/Shared/dividerTitle.html' with title='Event' %}
		<div class="container my-5">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="card w-100">
						<div class="card-body">
							<img src="{{ event.Logo.url }}" alt="Event logo" class="img-fluid card-img">
						</div>
					</div>
				</div>
				<div class="col-lg-6 text-justify">
					<div class="card w-100">
						<div class="card-header">
							<h3 class="card-text text-center">{{ event.Name }}</h3>
						</div>
						<div class="card-body">
							<p>{{ event.Description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# When - Where #}
		{% include 'TEDx2018/Event/WhereWhenCards.html' %}

		{# Tickets #}
		{% include 'TEDx2018/Shared/dividerTitle.html' with title='Tickets' %}
		{% include 'TEDx2018/Event/TicketCards.html' %}

		{# Speakers #}
		{% include 'TEDx2018/Shared/dividerTitle.html' with title='Speakers' %}
		{% include 'TEDx2018/Shared/speakersList.html' %}

		{# Schedule #}
		{% include 'TEDx2018/Event/Schedule.html' %}

		{# Team #}
		{% include 'TEDx2018/Shared/dividerTitle.html' with title='Team' %}
		{% include 'TEDx2018/Shared/teamsList.html' %}

		{# Technical University of Crete #}
		{% include 'TEDx2018/Shared/TechnicalUniversityofCreteAuspices.html' %}
	{% endif %}
{% endblock %}