{% extends 'TEDx2018/base.html' %}
{% block title %}{% endblock %}
{% block body %}
	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for event in events %}
				<li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for event in events %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					{% if event.EventImage %}
						<div class="full-screen-carousel-img{% if not event.Announced %} carousel-blur{% endif %}"
						     style="background-image: url({{ event.EventImage.url }});">
						</div>
					{% else %}
						<div class="full-screen-carousel-img carousel-blur"
						     style="background-image: url('/media/TEDx2018/Shared/XBlackBig.svg');">
						</div>
					{% endif %}
					<div class="carousel-caption d-block">
						{% if event.Announced %}
							<h5>{{ event.Name }}</h5>
							<p>{{ event.StartDateTime }}</p>
						{% else %}
							<h5>Upcoming Event</h5>
							<hr class="my-4 bg-white">
							<h6>Announcement Date</h6>
							<p>{{ event.AnnouncementDateTime }}</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
{% endblock %}