{% extends 'TEDx2018/base.html' %}
{% block title %}{% endblock %}
{% block body %}
	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for event in events %}
				<li data-target="#carouselIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for event in events %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					{% if event.EventImage %}
						{#							<img class="d-block w-100" src="{{ event.EventImage.url }}" alt="{{ event.Name }} event's image">#}
						<div style="
								height: 100vh;
								background-image: url({{ event.EventImage.url }});
								background-repeat: inherit;
								background-position: center center;
								background-size: cover;">
						</div>
					{% else %}
						<div style="height: 100vh; background: gray"></div>
					{% endif %}
					<div class="carousel-caption d-none d-md-block">
						<h5>{{ event.Name }}</h5>
						<p>{{ event.StartDateTime }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
{% endblock %}