{% extends 'TEDx2018/base.html' %}
{% block title %}Our Team - {% endblock %}
{% block aboutTabActive %}active{% endblock %}
{% block body %}
	<div class="navbar-placeholder mb-3"></div>
	<div class="container">
		{% for event in events %}
			<div class="mb-5">
				<h2>
					<span class="font-weight-bold tedx-red">TEDx</span>
					<span class="font-weight-normal">TechnicalUniversityofCrete: </span>
					<span class="font-weight-light">{{ event.event.Name }}</span>
				</h2>
				<hr class="hr-red">
				{% include 'TEDx2018/Shared/teamsList.html' with teams=event.teams %}
			</div>
		{% endfor %}
	</div>
{% endblock %}