{% extends 'TEDx2018/base.html' %}
{% block title %}Partners - {% endblock %}
{% block partnersTabActive %}active{% endblock %}
{% block body %}
	<div class="navbar-placeholder mb-3"></div>
	<div class="container-fluid">
		{% for event in events %}
			<div class="mb-5">
				<h2>
					<span class="font-weight-bold tedx-red">TEDx</span>
					<span class="font-weight-normal">TechnicalUniversityofCrete: </span>
					<span class="font-weight-light">{{ event.Name }}</span>
				</h2>
				<hr class="hr-red">
				{% include 'TEDx2018/Shared/partnersList.html' with PartnerLevels=event.partnerLevels %}
			</div>
		{% endfor %}
	</div>
{% endblock %}