{% extends 'TEDx2018/base.html' %}
{% block title %}Speakers - {% endblock %}
{% block speakersTabActive %}active{% endblock %}
{% block body %}
	<div class="navbar-placeholder"></div>
	<div class="container-fluid">
		{% for event in events %}
			{% if event.Announced and event.HasAnnouncedSpeakers %}
				<div class="mb-5">
					<h2>
						<span class="font-weight-bold tedx-red">TEDx</span>
						<span class="font-weight-normal">TechnicalUniversityofCrete: </span>
						<span class="font-weight-light">{{ event.Name }}</span>
					</h2>
					<hr class="hr-red">
					<div class="row justify-content-center">
						{% for speaker in event.speaker_set.all %}
							{% if speaker.Announced %}
								{% include 'TEDx2018/Shared/personalCardTemplate.html' with person=speaker isSpeaker=True %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
