{% load static %}
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

{#	Bootstrap#}
{#	<link rel="stylesheet" href="{% static 'TEDx2018/css/bootstrap.css' %}">#}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{#	Fontello#}
<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/fontello.css' %}"/>

{#	Google Fonts#}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=greek" rel="stylesheet">

{#<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/animate.min.css' %}"/>#}
<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/style.css' %}?version=1.2"/>
{#<link rel="stylesheet" type="text/css" href="{% static 'TEDx2018/css/palette-gray.css' %}"/>#}
