{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{#	<title>Page Title. Maximum length 60-70 characters</title>#}
<title>{% block title %}{% endblock %}TEDx TechnicalUniversityofCrete: Ideas worth spreading</title>
<meta name="title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
<meta name="application-name" content="TEDx TechnicalUniversityofCrete">
{#	<meta name="description" content="Page description. No longer than 155 characters."/>#}
{#Todo: Fix description length#}
<meta name="author" content="TEDx TechnicalUniversityofCrete">
<meta name="description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
<meta name="keywords" content="TED, TEDx, Talks, Themes, Speakers, Technology, Entertainment, Design, Technical, University, of, Crete, TechnicalUniversityofCrete, TEDxTechnicalUniversityofCrete, Light, Leak, Outcomes">
<meta name="theme-color" content="#E62B1E">
<link rel="shortcut icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/favicon.ico' %}">
<link rel="icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/favicon.ico' %}"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="mask-icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/mask-icon.svg' %}" color="#E62B1E" sizes="any">

{#	<!-- Apple Mobile -->#}
<meta name="apple-mobile-web-app-title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/apple-touch-icon.png' %}">
<link rel="apple-touch-icon-precomposed" href="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/apple-touch-icon-precomposed.png' %}">

{#-------------------------------------------------------------------------------#}
{#	<!-- Schema.org markup for Google+ -->#}
<meta itemprop="name" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
<meta itemprop="description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
<meta itemprop="image" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoWhite.png' %}">

{#	<!-- Twitter Card data -->#}
<meta name="twitter:card" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoWhite.png' %}">
<meta name="twitter:site" content="TEDx TechnicalUniversityofCrete">
<meta name="twitter:title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading">
{#	<meta name="twitter:description" content="Page description less than 200 characters">#}
<meta name="twitter:description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download.">
<meta name="twitter:creator" content="TEDx TechnicalUniversityofCrete">
{#	<!-- Twitter summary card with large image must be at least 280x150px -->#}
<meta name="twitter:image:src" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoWhite.png' %}">
<meta name="twitter:image:alt" content="TEDx TechnicalUniversityofCrete Logo">


{#	<!-- Open Graph data -->#}
<meta property="og:title" content="TEDx TechnicalUniversityofCrete: Ideas worth spreading"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.tedxtechnicaluniversityofcrete.com/"/>
<meta property="og:image" content="http://www.tedxtechnicaluniversityofcrete.com{% static 'TEDx2018/images/TEDxLogoWhite.png' %}"/>
<meta property="og:description" content="TED & TEDx Talks are influential videos from expert speakers on education, business, science, tech and creativity, with subtitles in 100+ languages. Ideas free to stream and download."/>
<meta property="og:site_name" content="TEDx TechnicalUniversityofCrete"/>
{#	<meta property="article:published_time" content="2013-09-17T05:59:00+01:00"/>#}
{#	<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00"/>#}
{#	<meta property="article:section" content="Article Section"/>#}
{#	<meta property="article:tag" content="Article Tag"/>#}
{#	<meta property="fb:admins" content="tedxtuoc"/>#}
{#	<meta property="fb:app_id" content="tedxtuoc"/>#}